<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Traffic System</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    <div class="container">
        <h1>Smart Traffic System</h1>

        <div class="status">
            <h2>Accident Status</h2>
            <p class="accident-status">{{ accident_status }}</p>
        </div>

        <div class="status">
            <h2>Traffic Status</h2>
            <p class="traffic-status">{{ traffic_status }}</p>
        </div>
    </div>
</body>
</html>
